.client__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.client__item {
margin: 15px;
@media screen and (max-width:$mobile-max), (min-width: $mobile) {
    width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
}

@media screen and (min-width: $desktop) {
    width: calc((100% - 6 * 30px) / 6);
}
}

.client__link {
display: flex;
justify-content: center;
align-items: center;

height: 92px;

border: 1px solid #afb1b8;
border-radius: 4px;
fill: getFill('primary-fill');

transition: fill $animation-transition, border-color $animation-transition;

&:hover,
&:focus {
    fill: getFill('blue-fill');
    border-color: getColorText('hover');
}
}