.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  @media screen and (max-width: $desktop-max) {
      text-align: center;
  }

  @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
  }

}

.page-footer__contacts {
  @media screen and (max-width: $tablet-max) {
      margin-bottom: 60px;
  }

  @media screen and (max-width: $desktop-max) {
      text-align: center;
  }

  @media screen and (min-width: $desktop) {
      display: inline-block;
      margin-right: 70px;
  }
}

.page-footer__subtitle {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: $primary-letter-spacing;
  text-transform: uppercase;
  color: getColorText('text-white');
}

.pade-footer__tablet-container {
  @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop-max) {
      justify-content: space-around;
  }

  @media screen and (max-width: $desktop-max) {
      margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
      margin-right: 93px;
  }
}

// Адрес студии
.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: getColorText(text-white);
}

.address__text {
  margin-bottom: 9px;

  letter-spacing: $primary-letter-spacing;
  color: getColorText(text-white);

  &:hover,
  &:focus {
      color: getColorText('hover');
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__contacts {
  letter-spacing: $primary-letter-spacing;
  color: getColorText('communication');

  transition: color $animation-transition;

  &:hover,
  &:focus {
      color: getColorText('hover');
  }
}

/* Социальные сети футера */
.page-footer__list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.page-footer__item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: getFill('white-fill');

  transition: background-color $animation-transition;

  &:hover,
  &:focus {
      background-color: getBgc('bgc-blue');
  }
}

/* Footer Форма подписки */
.page-footer__field {

  @media screen and (max-width: $mobile-max),
  (min-width: $mobile) {
      margin-right: auto;
      margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
      display: flex;
  }
}

.page-footer__field-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;

  height: 50px;
  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &:focus {
      border: 1px solid getBgc('bgc-blue');
  }

  @media screen and (max-width: $desktop-max) {
      max-width: 450px;
      width: 100%;
      margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
      width: 358px;
  }
}

.page-footer__btn {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  @media screen and (max-width: $desktop-max) {
      margin-right: auto;
      margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
      margin-left: 12px;
  }
}

.page-footer__icon {
  margin-left: 10px;
  fill: getFill('white-fill');
}