.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.head-site__web,
.footer__web {
  color: #2196f3;
}

.footer__logo {
  color: #ffffff;
}