.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity $animation-transition, visibility $animation-transition;

    background-color: getBgc('backdrop');

    overflow-y: scroll;

    @media screen and (max-width: $mobile-max) {
        padding-top: 93px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.order {
    position: relative;
    padding: 40px;

    max-width: 450px;
    max-height: 100%;
    width: 100%;

    background-color: getBgc('primary-white');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    @media screen and (min-width: $mobile) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: $desktop) {
        max-width: 528px;
        max-height: 581px;
    }
}

.order__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px;
    min-width: 30px;

    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: getBgc('primary-white');
    fill: #000000;

    transition: fill $animation-transition;

    &:hover,
    &:focus {
        fill: getFill('blue-fill');
    }
}
/* Форма в модальном окне для Заказа услуг */
.order__form {
    display: flex;
    flex-direction: column;
}

.order__title {
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: $primary-letter-spacing;
    color: getColorText('text-black');

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}
/* Стилизация для lable */
.order__label {
    display: block;
    margin-bottom: 4px;
}
.order__field-text {
    display: block;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 12px;

    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $animation-transition;

    &:not(:last-child) {
        padding-left: 42px;
    }
    
    &:focus {
        border: 1px solid getColorText('hover');
    }

    &:focus+.order__icon {
        fill: getFill('blue-fill');
    }
}

.order__comments-wrap {
    margin-bottom: 20px;
}

/* SVG иконки в форме */
.order__field-icon {
    position: relative;
    margin-bottom: 10px;
}

.order__icon {
    position: absolute;
    top: 52%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill $animation-transition;
}

/* Checkbox с принятием рассылки и соглашения */
.order__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    font-weight: 400;
    letter-spacing: $primary-letter-spacing;

    @media screen and (max-width: $desktop-max) {
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 1.16;
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.order__field-checkbox {
    appearance: none;
    position: absolute;

    &:checked+.order__svg-checkbox {
        border-color: transparent;
        background-color: getBgc('bgc-blue');
        background-image: url(../images/icon/check-lable.svg);
        background-size: contain;
        background-origin: border-box;
    }

    &:focus+.order__svg-checkbox {
        border-color: getColorText('hover');
    }
}

.order__svg-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid getColorText('text-black');
    border-radius: 4px;
    margin-right: 5px;

    transition: border-color $animation-transition, background-color $animation-transition,
    background-image $animation-transition;
}

.order__text-checkbox {
    text-align: center;
}

.order__link {
    display: block;
    margin-left: 3px;
    text-decoration: underline;
    color: getColorText('hover');
}
// Кнопка Отправить
.order__btn {
    max-width: 200px;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        background-color: getBgc('button-hover');
    }
}