.services {
  @media screen and (max-width: $desktop-max) {
      display: none;
  }
}

.services__list {
  display: flex;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

/*Чим ми займаємося
*/
.services__card {
  position: relative;
}

.services__wrap-position {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: center;
  align-items: center;
  color: getColorText('text-white');
  background-color: rgba(47, 48, 58, 0.8);
}

.services__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: $primary-letter-spacing;
  text-transform: uppercase;
}