h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--main-font);
  color: var(--general-color);
  background-color: var(--additional--color);
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
input,
textarea {
  outline: none;
}