:root {
    /*Шрифт*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-letter-spacing: 0.03em;
    /*колір шрифта*/
    --accent-color: #2196F3;
    --txt-color: #212121;
    --general-color: #757575;
    --additional--color: #FFFFFF;
    --team-social-link: #AFB1B8;
    /*фоновий колір*/
    --backgraund-color: #2F303A;
    --backgraund-btn-color: #2196F3;
    --backgraund--hover-color: #188CE8;
    --backgraund--add-color: #F5F4FA;
    --backgraund--general-color: #FFFFFF;
    --backgraund--hover-port: rgba(33, 150, 243, 0.9);
    --hero-bg-color: #c4c4c4;
    /*затримка при ховері та фокусі*/
    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --card-set-gap: 30px;
    /*Модальне вікно*/
    --backdrop-bgc: rgba(0, 0, 0, 0.2);
    --white-bgc: #ffffff;

    --form-order-focus-fill: #2196f3;
    --blue-bgc: #2196f3;

    --communication-color: rgba(255, 255, 255, 0.6);


}